html, body {
    margin: 0px;
    padding: 0px;
    background-color:#5f5f5f;
    color:#EAEAEA;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

.tools {
    text-align:right;
    padding-right:30px;
}

.header-splash {
  position:relative;
  height: 35%;
  width: 100%;
  background: linear-gradient(orange, #5f5f5f);
}

.header-splash .header {
  position:absolute;
  text-align:right;
  top: 70%;
  width:100%;
  color: #FF9000;
  text-shadow:2px 2px #202020;
}

.header a {
  text-decoration:none;
  color:inherit;
}

.header span {
  font: bold 2.1em Helvetica, Sans-Serif;
  letter-spacing: 1px;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.6);
  padding: 10px;
}

.news {
  text-align:center;
}

.pContainer {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  width: 90%;
  margin: 5px;
  padding: 10px;
  vertical-align: middle;
}

.pContainer .titleText {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.pContainer .gameImg {
  display: inline-block;
  float: left;
  height: 45px;
  width: 120px;
  background-color: green;
}

.pContainer button {
  display: inline-block;
  float: right;
  font: bold 1em Helvetica, Sans-Serif;
}

.sales {
    margin-left: 15px;
    margin-right: 30px;
    height: 100%;
    background-color: #808080;
    border-style: solid;
    border-color: #A7A7A7;
    border-width: 5px;
}

.sales p {
    color:#FFFFFF;
    text-align: center;
    height: 5%;
    margin: 0;
}

.personalizedFeed {
    margin-right: 15px;
    margin-left: 30px;
    height: 100%;
    background-color: #808080;
    border-style: solid;
    border-color: #A7A7A7;
    border-width: 5px;
    overflow-y: auto;
}

.personalizedFeed {
    color: #FFFFFF;
    text-align: center;
}

.piktur {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 90%;
}

.piktur2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.gameGrid {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.gContainer {
    padding: 5px;
    background-color:#808080;
    border-style: solid;
    border-color: #808080;
    border-width: 2px;
}

.gContainer p {
    text-align: center;
}

.gContainer:hover {
    border-color: #FF9000;
}
