{{#each gameItem}}
<div class="pContainer">
  <span>
    <div class="gameImg">{{{this.Image}}}</div>
    <div class="gameInfo">
      <div class="titleText">{{this.Name}}</div>
      <div class="gamePrice">{{this.Price}}</div>
    </div>
    <button round>X</button>
  </span>
</div>
{{/each}}
