<div class="pContainer">
  <span>
    <div class="gameImg"><img src={{gameImg}}></div>
    <div class="gameInfo">
      <div class="titleText">{{gameTitle}}</div>
      <div class="gamePrice">{{gamePrice}}</div>
    </div>
    <button round>X</button>
  </span>
</div>
