<head>
  <link rel="stylesheet" type="text/css" href="kube.css">
  <link rel="stylesheet" type="text/css" href="s.css">
</head>
<body>
  <div class="header-splash">

    <h1 class="header"><span><a href="/s.html">iLikeVideogames</a></span></h1>

  </div>
  <div class="tools">
  </div>

    <p class="news" style="font-size:large"><b>Welcome to iLikeVideogames!</b></p>
    <!-- Add two new divs for a personalized games feed and featured games feed  --!>
    
  <row>
    <column cols="6">
      <div class="sales">
        <p>Featured Discounts on Steam!</p>
        {{{gameList}}}
      </div>
    </column>
    <column cols="8">
      <div class="personalizedFeed">
        <p>Your Personalized Feed</p>
        <div class="defaultQueue">
          {{{gameQueue}}}
        </div>
      </div>
    </column>
  </row>

</body>
