<head>
  <link rel="stylesheet" type="text/css" href="kube.css">
  <link rel="stylesheet" type="text/css" href="s.css">
</head>
<body>
  <div class="header-splash">

    <h1 class="header"><span><a href="/s.html">iLikeVideogames</a></span></h1>

  </div>
  <div class="tools">
    <b><p>Login | Sign Up</p></b>
  </div>

    <p class="news" style="font-size:large"><b>Skeleton Website, features coming soon</b></p>
    <!-- Add two new divs for a personalized games feed and featured games feed  --!>
    
  <row>
    <column cols="6">
      <div class="personalizedFeed">
        <p>Personalized game feed here?</p>
        {{{gameList}}}
      </div>
    </column>
    <column cols="8">
      <div class="sales">
        <p>Featured Sale games here?</p>
        <img src="/assets/woops.jpg" class="piktur">
      </div>
    </column>
  </row>

  <!-- Maybe a Game grid here like steam has their games list set up on sale days--!>
  <div class="gameGrid">
    <blocks cols="4">
      <!--This section will be automatically populated with an html container
       that I will template into the page. Containers will be filled upon
       each visit and should be tailored to user's taste --!>
      <div class="gContainer">
        <img class="piktur2" src="/assets/game.png">

        <p>Game Goes Here</p>
      </div>
      <div class="gContainer">Game goes here</div>
      <div class="gContainer">Game goes here</div>
      <div class="gContainer">One Finger Death Punch goes here</div>
      <div class="gContainer">Saints Row IV goes here</div>
    </blocks>
  </div>
</body>
